<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>tao la trang chu day</h1>
<div th:replace="layout::menu"></div>
<table>
    <tr>
        <td>id</td>
        <td>name</td>
        <td>email</td>
        <td>image</td>
    </tr>
    <th:block>
        <tr th:each="s : ${list}">
            <td th:text="${s.id}"></td>
            <td th:text="${s.name}"></td>
            <td th:text="${s.email}"></td>
            <td>
                <img th:src="@{'/image/'+${s.img}}" width="100" alt="">
            </td>
        </tr>
    </th:block>
</table>
</body>
</html>